body{
  font-family: 'Quicksand', sans-serif;
  /* background-color: #ebc7e6a0; */
  background-image: url("../src/img/fondo.gif");
}
h1{
  text-align: center;
  color: #50435D;
  
}

.global-container{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.input-container{
  background-color: #CC6B8E;
  padding: 2vh;
  border-radius: 10px;
  
}


input{
  background-color: transparent;
  border-style: none;
  outline: none;
  color: #EBC7E6;
  
}


::placeholder{
  color: #EBC7E6;
}


.container-task{

  background-color: #EC8E9E;
  margin: 2vh;
  padding: 2vh;
  border-radius: 10px;  
}
.container-info-tasks{
  /* background-color: #A084DC; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.edit-button{
  min-width: 1vw;
  height: 2vh;
  padding-left: 2vh;

}
.btn{
  background-color: transparent;
}
.tarea-container{
  color: #EBC7E6;
  background-color: #904B6B;
  border-radius: 10px;
  padding: 2vh;
  margin: 1vh;
  min-width: 10vw;
}



.spanSubrayada{
  text-decoration: line-through;
}